.fixfooter {
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 12px 24px;
    line-height: 44px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -6px 16px -8px rgb(0 0 0 / 8%), 0 -9px 28px 0 rgb(0 0 0 / 5%), 0 -12px 48px 16px rgb(0 0 0 / 3%);
    transition: width .3s cubic-bezier(.645,.045,.355,1);
    display: flex;
}
