$color-main: #3089DC;
$color-normal: #666;
$color-gray: rgb(197, 127, 127);
$color-light-gray: #ccc;
$color-red: #f23c3c;
$color-blue: #3089DC;
$color-orange: #ff6600;
$color-white: #fff;
$color-light-blue: #E4F0FD;
$color-font: #3D4145;